html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", sans-serif;
}


/* Balk navigatie menu*/

header > div {
    position: absolute;
    z-index: -1;
    background-color: white;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4em;
    box-shadow: 0 .3125em .625em 0 rgba(0, 0, 0, .15);
}


/* Header logo transavia */

header img {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1.4em;
    margin-left: 1em;
    float: left;
    width: 7.5em;
}


/* navigatie menu */

nav ul {
    margin-top: 1.3em;
    margin-left: 7em;
    font-size: 1.1em;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    color: #00d66c;
    width: 100%;
}

nav a {
    font-family: "Nexa Bold", sans-serif;
    color: #00d66c;
}

nav li:last-of-type {
    margin-left: 1.6em;
}


/* titel home pagina */

h1 {
    margin-left: 0.5em;
    margin-top: 1.5em;
    padding: 0.2em;
    font-family: "Nexa Bold", sans-serif;
    font-size: 2em;
    color: #00d66c;
}


/* Jouw downloads & Mijn lijst titel */

h2 {
    display: flex;
    margin-left: 0.5em;
    width: 100%;
    color: #2800a0;
}

section:last-of-type > h2 {
    color: white;
}

h3 {
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    font-size: 0.8em;
    color: gray;
}


/* Jouw downloads & Mijn lijst sections */

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


/* Downloads */

article:nth-child(2),
article:nth-child(3),
article:nth-child(4),
article:nth-child(5) {
    background-color: white;
    border-radius: 0.4em;
    border: thin solid lightgrey;
    width: 28%;
    margin: 0.4em;
    margin-top: 0;
    width: calc(50%-10em);
    position: relative;
}

article img {
    width: 100%;
    height: auto;
    border-top-right-radius: 0.4em;
    border-top-left-radius: 0.4em;
    border: none;
}

section {
    padding: 1em;
}

section:nth-of-type(2) {
    background-color: #2800a0;
    border-bottom: thin solid lightgrey;
}


/* Footer verhalen mijn downloads + mijn lijst */

article > footer > ul {
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    background-color: #00d66c;
    color: white;
    margin-bottom: 0;
    padding: 0.2em;
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-family: "Nexa Bold", sans-serif;
    font-size: 0.7em;
}

li img {
    position: relative;
    padding: 0.1em;
    width: 0.9em;
    height: auto;
}


/* Transavia info footer */

footer p {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 2em;
    font-size: 0.8em;
    color: #909090;
}


/* schakelaar download BRON:https://codepen.io/thelaazyguy/pen/MvqpPr/?editors=1100*/


/* Styling download schakelaar */

input[type="checkbox"] {
    display: flex;
    justify-content: flex-start;
    margin: 0.9em;
    font-size: 1.9em;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 15em;
    height: 2em;
    background: lightgrey;
    border-radius: 3em;
    outline: none;
    transition: all .2s ease-in-out;
    transform: scale(0.45);
}


/* Achtergond verandert als schakelaar aan is */

input[type="checkbox"]:checked {
    background: #00d66c;
}


/* Download button */

input[type="checkbox"]:after {
    position: absolute;
    content: "Download";
    padding-top: 0.5em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    font-family: "Nexa Bold", sans-serif;
    color: gray;
    height: 1.5em;
    border-radius: 1em;
    background: white;
    transform: scale(0.98);
    -webkit-transition: all .1s ease-in-out;
}


/* ruimte schakelaar aan */

input[type="checkbox"]:checked:after {
    left: calc(50% - 1.5em);
}


/* Switch 1 Specific Style End */