/*@media(max-width:24em) {*/


/*div:nth-child(1) {
    border-radius: 1.5em;
    background-color: white;
    width: 9em;
    height: 9em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25em;
    transform: rotate(45deg);
}*/

header > div {
    position: absolute;
    background-color: white;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4em;
}

header img {
    margin: 1em 1em 0 1em;
    width: 10.8em;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
    list-style: none;
    color: #00d66c;
}

nav a {
    font-family: "Nexa Bold", sans-serif;
    color: #00d66c;
}

h1 {
    margin: 0.25em 0 0 0.25em;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 3.7em;
    color: #00d66c;
}

div:nth-child(2) {
    box-shadow: 0 .3125em .625em 0 rgba(0, 0, 0, .15);
}

nav li:last-of-type {
    margin-left: 4em;
}

form > button:hover {
    background-color: lightcoral;
}

form > button {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1rem;
    color: white;
    background-color: #ff3268;
    padding: 0.5em 2em 0.5em 2em;
    box-shadow: inset 0 -0.1875em 0.0625em #ca2b55;
    border-radius: 3rem;
    border: none;
    margin-bottom: 0.5em;
}

form {
    display: flex;
    flex-direction: row;
    margin-top: 20em;
}

fieldset:nth-child(3),
fieldset:nth-child(4),
fieldset:nth-child(5) {
    padding: 2rem 2rem 1rem 2rem;
    background-color: lightgrey;
    border: none;
    align-items: center;
}

fieldset:nth-child(6) {
    padding: 2rem 2rem 1rem 2rem;
    background-color: lightgreen;
    border: none;
}

legend {
    position: absolute;
    left: -666em;
    color: #2800a0;
    font-family: "Nexa Bold", sans-serif;
}

input {
    font-size: auto;
    margin-left: 0;
}

label {
    line-height: 0;
    font-size: 1em;
    font-family: "Trebuchet MS", sans-serif;
    color: grey;
}

h2 {
    font-family: "Trebuchet MS", sans-serif;
    color: #00d66c
}

h3 {
    display: flex;
    justify-content: flex-start;
    color: white;
    font-size: 1.4em;
    font-family: "Trebuchet MS", sans-serif;
    text-decoration: none;
    margin: 0;
}

article > img {
    display: flex;
    width: 30%;
    height: 30%;
}

a[href*="html"] {
    text-decoration: none;
}

article {
    display: inline-block;
}

article footer ul {
    margin-top: 2em;
    color: white;
    font-size: 0.9em;
    flex: 1 0 9em;
    flex-direction: column;
    list-style: none;
    padding-left: 1em;
}

article h3 {
    font-size: 1.1em;
    padding-left: 1em;
}

article footer ul li:last-of-type:before {
    content: "★★☆";
}

footer ul li:nth-of-type(2n):before {
    content: "---";
}

section > div {
    display: flex;
    flex-direction: row;
    border-radius: 0.5em;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0em 15em 0.9em 1.7em;
    background-color: #00d66c;
}

article:nth-child(2),
article:nth-child(3),
article:nth-child(4),
article:nth-child(5) {
    border-radius: 0.9em;
    background: #2800a0;
}

article img {
    width: 10em;
    border-top-right-radius: 0.9em;
    border-top-left-radius: 0.9em;
}

button:last-of-type:hover {
    background-color: lightcoral;
}

section button {
    display: flex;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1rem;
    color: white;
    background-color: #ff3268;
    padding: 0.5em 2em 0.5em 2em;
    box-shadow: inset 0 -0.1875em 0.0625em #ca2b55;
    border-radius: 3rem;
    border: none;
    margin: 3em;
}


/*article > button:nth-child(1n) {
    display: flex;
    border-radius: 30em;
    margin-top: em;
    margin-right: 1em;
    padding: 1em;
    height: 3em;
    width: 5rem;
    overflow: hidden;
    background-image: url(pijl.png);
    background-size: 1.3em;
    background-repeat: no-repeat;
    background-color: #00d66c;
    transition: .3s;
    text-indent: -9999px;
}

article > button:nth-child(2) {
    display: flex;
    height: 4rem;
    width: 5.6rem;
    overflow: hidden;
    background-image: url(uit.png);
    background-size: 10em;
    background-repeat: no-repeat;
    transition: .3s;
    text-indent: -9999px;
}

button:nth-child(3n) {
    margin-left: 7em;
    margin-top: 0.8em;
    font-family: "Trebuchet MS", sans-serif;
    padding: 0.5em 2em 0.5em 2em;
    font-size: 1rem;
    color: white;
    background-color: #2800a0;
    box-shadow: inset 0 -0.1875em 0.0625em #5452af;
    border-radius: 3rem;
    display: inline-block;
    border: none;
}*/